.git/
.gitignore
.gitattributes
certs/
*cert*/
.env*
token*
cruft/
prev/
tests/
*.md
!README.md
*.log
.DS_Store
Thumbs.db
package-lock.json
*.ts
!*.d.ts
*.map
tsconfig.json
.vscode/
.globalize.json5
.claude/
node_modules/
*.tgz
